body {
  background: black;
}
.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  &__content {
    margin-top: 70px;
    width: 500px;
    height: 530px;
    border-radius: 10px;
    padding: 24px;
    background: rgb(255, 255, 255);
    &__card {
      margin-left: 30px;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 5px;
    }

    &__box {
      width: 55px;
      height: 55px;
      margin-bottom: 35px;
      border: 2px solid rgb(194, 195, 199);
      border-radius: 4px;
      outline: none;
      border-radius: 10px;
      list-style: none;
      text-align: center;
      font-size: 50px;
      background: linear-gradient(
        180deg,
        rgb(240, 240, 240),
        rgb(194, 195, 199) 100%
      );
    }
  }
}

.matched {
  background: green;
}
